'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Theme Toggler'
      'submenu': [
        { 'label': 'Toggle', 'command': 'theme-toggler:toggle' },
        { 'label': 'List all themes', 'command': 'theme-toggler:themes' },
      ]
    ]
  }
]
