'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'theme-toggler'
      'submenu': [
        { 'label': 'Dark', 'command': 'theme-toggler:dark' },
        { 'label': 'Light', 'command': 'theme-toggler:light' }
      ]
    ]
  }
]
